Source: ros-melodic-uol-cmp9767m-base
Section: misc
Priority: optional
Maintainer: mhanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-bacchus-gazebo, ros-melodic-bacchus-move-base, ros-melodic-catkin, ros-melodic-kinect2-description, ros-melodic-nav-msgs, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-sensor-msgs, ros-melodic-std-msgs, ros-melodic-thorvald-gazebo-plugins, ros-melodic-thorvald-twist-mux, ros-melodic-velodyne-description, ros-melodic-velodyne-gazebo-plugins
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-uol-cmp9767m-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-bacchus-gazebo, ros-melodic-bacchus-move-base, ros-melodic-kinect2-description, ros-melodic-map-server, ros-melodic-nav-msgs, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-sensor-msgs, ros-melodic-std-msgs, ros-melodic-thorvald-base, ros-melodic-thorvald-description, ros-melodic-thorvald-gazebo-plugins, ros-melodic-thorvald-twist-mux, ros-melodic-velodyne-description, ros-melodic-velodyne-gazebo-plugins
Description: The uol_cmp9767m_base package
