Source: ros-kinetic-uol-cmp9767m-tutorial
Section: misc
Priority: optional
Maintainer: mhanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cv-bridge, ros-kinetic-geometry-msgs, ros-kinetic-message-generation, ros-kinetic-nav-msgs, ros-kinetic-rospy, ros-kinetic-rostest, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-topological-navigation, ros-kinetic-uol-cmp9767m-base
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-uol-cmp9767m-tutorial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cv-bridge, ros-kinetic-geometry-msgs, ros-kinetic-message-runtime, ros-kinetic-nav-msgs, ros-kinetic-nodelet, ros-kinetic-pcl-ros, ros-kinetic-rospy, ros-kinetic-rostest, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-topological-navigation, ros-kinetic-uol-cmp9767m-base
Description: The uol_cmp9767m_tutorial package
