Source: ros-kinetic-uol-cmp9767m-base
Section: misc
Priority: extra
Maintainer: mhanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-kinect2-description, ros-kinetic-nav-msgs, ros-kinetic-rospy, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-thorvald-gazebo-plugins, ros-kinetic-thorvald-twist-mux, ros-kinetic-velodyne-description8, ros-kinetic-velodyne-gazebo-plugins8
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-uol-cmp9767m-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-kinect2-description, ros-kinetic-map-server, ros-kinetic-nav-msgs, ros-kinetic-rospy, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-thorvald-base, ros-kinetic-thorvald-description, ros-kinetic-thorvald-gazebo-plugins, ros-kinetic-thorvald-twist-mux, ros-kinetic-velodyne-description8, ros-kinetic-velodyne-gazebo-plugins8
Description: The uol_cmp9767m_base package
